[submodule "ThirdParty/gh-unit"]
	path = ThirdParty/gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "ThirdParty/ocmock"]
	path = ThirdParty/ocmock
	url = https://github.com/erikdoe/ocmock.git
